#page-container{
	max-width: 800px;
	width: 100%;
	margin: auto;
	position: relative;
}

#card-content-container{
	height: 450px;
width: 400px;
	float: left;
	background: white;

}

#card-content-container p{
	margin: 20px;
}

#cheat-menu{
	display: block;
	width: 800px;
	margin-left: auto;
}
#cell-container{
margin-top: 150px;
}
.summon-cell{
	width:98px;
	border-top: 1px;
	border-left: 1px;
	border-right: 1px;
	border-bottom: 1px;
	border-color: black;
	border-style: solid;
	border-collapse: collapse;;
	height:120px;
	text-align: center;
	float:left;
	margin:auto;
}

.summon-cell img {
    width: 100%;
    height: 100%;
}


#enemy-cells{
  display: block;
  position: absolute;
  top:50px;
	right:0;
}

#enemy-sprite-container{
	float: right;
	    height: 92px;
	    width: 68px;
	    position: absolute;
	    right: 0;
	    top: 180px;
}
#player-cells{
	display: block;
	position: absolute;
	top: 300px;
	left: 0;
}

#player-sprite-container{
float:left;
position: absolute;
height:92px;
width: 68px;
top: 180px;
left:0px;
transition: 1s;
}

#player-sprite-container img{
	transform: scaleX(-1);
	position: relative;
}

.cardcontainers{
	display: inline-block;
	width:100px;
	height:175px;
	margin-right:10px;
}

#hand-container{
	width: 800px;
	overflow-x: auto;
	overflow-y: visible;
	position: absolute;
	top: 450px;

}

#hand{
	display:block;
	height: auto;
	width:max-content;
	position: relative;
	overflow-y: visible;
}

#hand img{
	    width: 200%;
			max-width: 200px;
			max-height:259px;
}

#hand img:hover {
    transform: scale(1.1);
    transition: 1s;
	}

.grid-content{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-gap: 10px;
margin: 0 auto;
}

.grid-item{
	background-color: rgba(255, 255, 255, 0.8);
border: 1px solid rgba(0, 0, 0, 0.8);
padding: 20px;
font-size: 30px;
text-align: center;
}

.grid-content img{
	width: auto;
	height: 100%;
	position: relative;
}

#battle-box-content .grid-item:nth-child(6){
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row: 3;

}

#battle-box-content .grid-item:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
}

#battle-box-content .grid-item:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
			transform: scaleX(-1);
}
#battle-box-content .grid-item:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
}


#battle-box-content .grid-item:nth-child(7){
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row: 3;
}

.attackanim{
	animation-name: attackanim;
	animation-duration: 0.8s;
}
@keyframes attackanim {
    from {transform: scale(1);opacity: 0.5}
    to {transform: scale(1.3); opacity: 1}
}

.damage-dealt{
	animation-name: damage-dealt;
	animation-duration: 2s;
}
@keyframes damage-dealt {
	from{opacity: 1;top:-10px;}
		to {opacity: 0.1;top:-60px;}
}

#confirmation-modal .button{
	font-size: 20px;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popuptext{
	visibility: hidden;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


#damagePlayer{
	position: absolute;
	transition: 2s;
font-size: 40px;
font-weight: bold;
opacity: 0;
left: 45%;
top: -5px;
transform: scaleX(-1);
color:red;
}

#damageEnemy{
	position: absolute;
	transition: 2s;
	font-size: 40px;
	font-weight: bold;
	opacity: 0;
	left: 145%;
	top: -5px;
	color: red;
}
