#page-container{
  width: 100%;
  max-width:800px;
  margin:auto;
  float: none;
  transition: all 1s ease;
}
#timer-container{display: none;}
#monimg:hover,.button:hover{cursor: pointer;}
#item-list{overflow-x: auto;}

.progress{
overflow: hidden;
background-color: #ca101038;
border-radius: 20px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
margin-top: 15px;
width: 75%;
position: relative;
}


.progress-bar.active, .progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-striped, .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
}
.progress-bar {
    float: left;
    width: 100%;
    height: 40px;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #ff0000eb;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
  font-size: 20px;
  margin:0px;
}
.progress-bar span{
  position: relative;
  top: 25%;
}

.hp{
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  left: 45%;
  top: 15%;
}

#hp{
  position: absolute;
top: 0;
left: 105%;
}


    @-webkit-keyframes progress-bar-stripes {
      from  { background-position: 40px 0; }
      to    { background-position: 0 0; }
    }

    @keyframes progress-bar-stripes {
      from  { background-position: 40px 0; }
      to    { background-position: 0 0; }
    }


#alert-loot{
  width:30%;
  position: fixed
  top:0px;
  left:0px;
display: inline-block;
}

img {max-height: 250px;}
td {
    text-align: center;
    padding:5px;
}

/*body,html, .button {
   cursor: url(cursor.gif), pointer;
}
*/
.alert {
  background-color: #f44336;
  color: white;
  display: none;
  transition: opacity 1s;
  z-index: 900;
  position: absolute;
  top: 21%;
  width: 99%;
  margin: auto;
}

.boss-alert{
  position: absolute;
  top: 10%;
}

.equipt-item{
  position: relative;
  top: -52px;
  left: 16px;
  color: white;
}

.closebtn {
  margin-left: 15px;
    margin-top: 15px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 30px;
    line-height: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
  transform: rotateY(180deg);
}
  .button:hover {
  	color: white;
    background-position:left top;
    transform: scale(1.15);
    transition: 0.2s;
    outline:0;
    border:none;
  }

  .button{
    background: none;
    background: linear-gradient(to right,#ef0606 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    margin-left: 10px;
    transition: all 0.3s ease;
    font-size: 18px;
    padding: 6px;
    border-bottom-style: none;
    border-top-style: none;
    border-color: red;
    outline:0;
}

.button:active {
  	position:relative;
  	top:1.5px;
    border: none;
    outline:0;
    transition: 0.3s;

  }

button:focus {outline: 0;}
input:disabled:hover{
  background-color: none;
  transform: none;
  background-position:right bottom;
  color: #545454;
  cursor: not-allowed;
}

.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
    visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

.faderanim {visibility:hidden;}
.fader {
    animation-name: fader;
    -webkit-animation-name: fader;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes fader {
  0% {
    opacity: 0;
  50% {
      opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fader {
  0% {
    opacity: 0;
  50% {
      opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
